/* $Id$ */

/* ---------- Color Module Styles ----------- */

body {
  background-color: #161617;
  color: #ffffff;
}
html,
#page-wrapper,
body.overlay {
  background-color: #ffffff;
  color: #3b3b3b;
}
#navigation ul.links li.active-trail a {
  background: #ffffff;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
#header {
  background-color: #4e4e4e;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4a4a4a), to(#4e4e4e));
  background-image: -moz-linear-gradient(-90deg, #4a4a4a, #4e4e4e);
}
a {
  color: #0073b6;
}
a:hover,
a:focus {
  color: #018fe2;
}
a:active {
  color: #23aeff;
}
.sidebar .block {
  background-color: #feffff;
  border-color: #d0d0d0;
}
#footer-wrapper {
  background: #161617;
}
#header #name-and-slogan,
#header #name-and-slogan a {
  color: #fffeff;
}
