*.swp
*.swo
drupal/sites/default/settings.php
drupal/sites/all/modules/devel
drupal/sites/default/files
db
drupal/test.php
.sass-cache/
.vagrant/
build/
web/sites/default/settings.php
web/sites/default/files/
