/* toggle config buttons */
.compact-link {
  margin: 0 1em 1em;
}

a.tabledrag-toggle-weight,
.compact-link a {
  background: #eee;
  border: solid 1px #ddd;
  color: #000;
  display: inline-block;
  font-size: 0.923em;
  padding: 0 0.8em;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
a.tabledrag-toggle-weight:hover,
a.tabledrag-toggle-weight:active,
a.tabledrag-toggle-weight:focus,
.compact-link a:hover,
.compact-link a:active,
.compact-link a:focus {
  background-color: #39c;
  border-color: #396;
  color: #fff;
  text-decoration: none;
}

a[href*="configure"],
a[href*="delete"],
a[href*="edit"] {
  background: url(../images/16-aaa.png) no-repeat;
  display: inline-block;
  min-height: 20px;
  padding-left: 24px;
}
a[href*="configure"]:hover,
a[href*="configure"]:active,
a[href*="configure"]:focus,
a[href*="delete"]:hover,
a[href*="delete"]:active,
a[href*="delete"]:focus,
a[href*="edit"]:hover,
a[href*="edit"]:active,
a[href*="edit"]:focus {
  background-image: url('../images/16-39c.png');
}
a[href*="configure"] { background-position: -116px -232px; }
a[href*="edit"] { background-position: -348px -928px; }
a[href*="delete"] { background-position: -696px -464px; }

/* content list */
#node-admin-content td {
  font-size: 0.923em;
}
#node-admin-content td:nth-child(2) {
  max-width: 24em;
}
#node-admin-content td:nth-child(2) a {
  display: inline-block;
}
#node-admin-content span.icon {
  display: none;
}
#node-admin-content .edit a,
#node-admin-content .delete a {
  display: block;
  text-indent: -999em;
}

/* modules list */
#system-modules td:nth-child(3) { /* version */
  color: #777;
  font-size: 0.923em;
  white-space: nowrap;
}
div.admin-requirements {
  color: #666;
  line-height: 1.4em;
}

.admin .left,
.admin .right {
  margin: 0;
}
div.admin-panel {
  background: -webkit-gradient(linear, 0 100%, 0 0, color-stop(0.4, #f8f8f8), color-stop(0.7, #fff));
  background-color: -moz-linear-gradient(center bottom, #f8f8f8 42%, #fff 71%);
  border: solid 1px #ddd;
  margin: 0 0 2em 0;
  padding: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
div.admin-panel h3 {
  background-color: #f8f8f8;
  border-bottom: solid 1px #ededed;
  padding: 0.5em;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-radius-topright: 4px;
}
.admin-panel dt {
  font-size: 1.077em;
}

