/* @group 16 x 16 */
.add-contact { background-position: 0 0; }
.alert-2 { background-position: 0 -116px; }
.alert { background-position: 0 -232px; }
.anchor { background-position: 0 -348px; }
.angle-quotation-mark-down { background-position: 0 -464px; }
.angle-quotation-mark-left { background-position: 0 -580px; }
.angle-quotation-mark-right { background-position: 0 -696px; }
.angle-quotation-mark-up { background-position: 0 -812px; }
.apple { background-position: 0 -928px; }
.bluetooth { background-position: 0 -1044px; }
.book { background-position: 0 -1160px; }
.calendar-1 { background-position: 0 -1276px; }
.calendar-hollow { background-position: 0 -1392px; }
.calendar { background-position: 0 -1508px; }
.cart { background-position: 0 -1624px; }
.check-1 { background-position: 0 -1740px; }
.check { background-position: 0 -1856px; }
.circle { background-position: -116px 0; }
.clock { background-position: -116px -116px; }
.cog { background-position: -116px -232px; }
.command { background-position: -116px -348px; }
.comment-hollow { background-position: -116px -464px; }
.comment { background-position: -116px -580px; }
.dashboard { background-position: -116px -696px; }
.delete { background-position: -116px -812px; }
.download { background-position: -116px -928px; }
.edit { background-position: -116px -1044px; }
.eject { background-position: -116px -1160px; }
.flag-1 { background-position: -116px -1276px; }
.flag { background-position: -116px -1392px; }
.folder-hollow { background-position: -116px -1508px; }
.folder { background-position: -116px -1624px; }
.forward { background-position: -116px -1740px; }
.gift { background-position: -116px -1856px; }
.hand { background-position: -232px 0; }
.help { background-position: -232px -116px; }
.home { background-position: -232px -232px; }
.inbox { background-position: -232px -348px; }
.info { background-position: -232px -464px; }
.key-1 { background-position: -232px -580px; }
.key-2 { background-position: -232px -696px; }
.key { background-position: -232px -812px; }
.lightbulb { background-position: -232px -928px; }
.line-break { background-position: -232px -1044px; }
.link { background-position: -232px -1160px; }
.lock-1 { background-position: -232px -1276px; }
.lock { background-position: -232px -1392px; }
.mail { background-position: -232px -1508px; }
.microphone { background-position: -232px -1624px; }
.minus-1 { background-position: -232px -1740px; }
.minus-2 { background-position: -232px -1856px; }
.minus { background-position: -348px 0; }
.move { background-position: -348px -116px; }
.movie { background-position: -348px -232px; }
.new-window { background-position: -348px -348px; }
.new { background-position: -348px -464px; }
.page-hollow { background-position: -348px -580px; }
.page { background-position: -348px -696px; }
.paperclip { background-position: -348px -812px; }
.pencil { background-position: -348px -928px; }
.phone { background-position: -348px -1044px; }
.photo { background-position: -348px -1160px; }
.plane { background-position: -348px -1276px; }
.plus-1 { background-position: -348px -1392px; }
.plus-2 { background-position: -348px -1508px; }
.plus { background-position: -348px -1624px; }
.pointer { background-position: -348px -1740px; }
.postage { background-position: -348px -1856px; }
.power-2 { background-position: -464px 0; }
.power { background-position: -464px -116px; }
.printer { background-position: -464px -232px; }
.prohibited { background-position: -464px -348px; }
.refresh { background-position: -464px -464px; }
.rss { background-position: -464px -580px; }
.search-1 { background-position: -464px -696px; }
.search { background-position: -464px -812px; }
.single-angle-quotation-mark-down { background-position: -464px -928px; }
.single-angle-quotation-mark-left { background-position: -464px -1044px; }
.single-angle-quotation-mark-right { background-position: -464px -1160px; }
.single-angle-quotation-mark-up { background-position: -464px -1276px; }
.square { background-position: -464px -1392px; }
.star-1 { background-position: -464px -1508px; }
.star-hollow-1 { background-position: -464px -1624px; }
.star-hollow { background-position: -464px -1740px; }
.star { background-position: -464px -1856px; }
.tag { background-position: -580px 0; }
.target { background-position: -580px -116px; }
.tools { background-position: -580px -232px; }
.trash { background-position: -580px -348px; }
.triangle-down { background-position: -580px -464px; }
.triangle-left { background-position: -580px -580px; }
.triangle-right { background-position: -580px -696px; }
.triangle-up { background-position: -580px -812px; }
.type { background-position: -580px -928px; }
.unlock { background-position: -580px -1044px; }
.usb { background-position: -580px -1160px; }
.user-2 { background-position: -580px -1276px; }
.user { background-position: -580px -1392px; }
.video { background-position: -580px -1508px; }
.volume { background-position: -580px -1624px; }
.warning-2 { background-position: -580px -1740px; }
.warning { background-position: -580px -1856px; }
.wheelchair { background-position: -696px 0; }
.white-space { background-position: -696px -116px; }
.window { background-position: -696px -232px; }
.x-1 { background-position: -696px -348px; }
.x-lrg { background-position: -696px -464px; }
.x { background-position: -696px -580px; }
/* @end */


/* @group 24 x 24 */
.add-contact { background-position: 0 0; }
.alert-2 { background-position: 0 -124px; }
.alert { background-position: 0 -248px; }
.anchor { background-position: 0 -372px; }
.angle-quotation-mark-down { background-position: 0 -496px; }
.angle-quotation-mark-left { background-position: 0 -620px; }
.angle-quotation-mark-right { background-position: 0 -744px; }
.angle-quotation-mark-up { background-position: 0 -868px; }
.apple { background-position: 0 -992px; }
.bluetooth { background-position: 0 -1116px; }
.book { background-position: 0 -1240px; }
.calendar-1 { background-position: 0 -1364px; }
.calendar-hollow { background-position: 0 -1488px; }
.calendar { background-position: 0 -1612px; }
.cart { background-position: 0 -1736px; }
.check-1 { background-position: 0 -1860px; }
.check { background-position: -124px 0; }
.circle { background-position: -124px -124px; }
.clock { background-position: -124px -248px; }
.cog { background-position: -124px -372px; }
.command { background-position: -124px -496px; }
.comment-hollow { background-position: -124px -620px; }
.comment { background-position: -124px -744px; }
.dashboard { background-position: -124px -868px; }
.delete { background-position: -124px -992px; }
.download { background-position: -124px -1116px; }
.edit { background-position: -124px -1240px; }
.eject { background-position: -124px -1364px; }
.flag-1 { background-position: -124px -1488px; }
.flag { background-position: -124px -1612px; }
.folder-hollow { background-position: -124px -1736px; }
.folder { background-position: -124px -1860px; }
.forward { background-position: -248px 0; }
.gift { background-position: -248px -124px; }
.hand { background-position: -248px -248px; }
.help { background-position: -248px -372px; }
.home { background-position: -248px -496px; }
.inbox { background-position: -248px -620px; }
.info { background-position: -248px -744px; }
.key-1 { background-position: -248px -868px; }
.key-2 { background-position: -248px -992px; }
.key { background-position: -248px -1116px; }
.lightbulb { background-position: -248px -1240px; }
.line-break { background-position: -248px -1364px; }
.link { background-position: -248px -1488px; }
.lock-1 { background-position: -248px -1612px; }
.lock { background-position: -248px -1736px; }
.mail { background-position: -248px -1860px; }
.microphone { background-position: -372px 0; }
.minus-1 { background-position: -372px -124px; }
.minus-2 { background-position: -372px -248px; }
.minus { background-position: -372px -372px; }
.move { background-position: -372px -496px; }
.movie { background-position: -372px -620px; }
.new-window { background-position: -372px -744px; }
.new { background-position: -372px -868px; }
.page-hollow { background-position: -372px -992px; }
.page { background-position: -372px -1116px; }
.paperclip { background-position: -372px -1240px; }
.pencil { background-position: -372px -1364px; }
.phone { background-position: -372px -1488px; }
.photo { background-position: -372px -1612px; }
.plane { background-position: -372px -1736px; }
.plus-1 { background-position: -372px -1860px; }
.plus-2 { background-position: -496px 0; }
.plus { background-position: -496px -124px; }
.pointer { background-position: -496px -248px; }
.postage { background-position: -496px -372px; }
.power-2 { background-position: -496px -496px; }
.power { background-position: -496px -620px; }
.printer { background-position: -496px -744px; }
.prohibited { background-position: -496px -868px; }
.refresh { background-position: -496px -992px; }
.rss { background-position: -496px -1116px; }
.search-1 { background-position: -496px -1240px; }
.search { background-position: -496px -1364px; }
.single-angle-quotation-mark-down { background-position: -496px -1488px; }
.single-angle-quotation-mark-left { background-position: -496px -1612px; }
.single-angle-quotation-mark-right { background-position: -496px -1736px; }
.single-angle-quotation-mark-up { background-position: -496px -1860px; }
.square { background-position: -620px 0; }
.star-1 { background-position: -620px -124px; }
.star-hollow-1 { background-position: -620px -248px; }
.star-hollow { background-position: -620px -372px; }
.star { background-position: -620px -496px; }
.tag { background-position: -620px -620px; }
.target { background-position: -620px -744px; }
.tools { background-position: -620px -868px; }
.trash { background-position: -620px -992px; }
.triangle-down { background-position: -620px -1116px; }
.triangle-left { background-position: -620px -1240px; }
.triangle-right { background-position: -620px -1364px; }
.triangle-up { background-position: -620px -1488px; }
.type { background-position: -620px -1612px; }
.unlock { background-position: -620px -1736px; }
.usb { background-position: -620px -1860px; }
.user-2 { background-position: -744px 0; }
.user { background-position: -744px -124px; }
.video { background-position: -744px -248px; }
.volume { background-position: -744px -372px; }
.warning-2 { background-position: -744px -496px; }
.warning { background-position: -744px -620px; }
.wheelchair { background-position: -744px -744px; }
.white-space { background-position: -744px -868px; }
.window { background-position: -744px -992px; }
.x-1 { background-position: -744px -1116px; }
.x-lrg { background-position: -744px -1240px; }
.x { background-position: -744px -1364px; }
/* @end */
