/* @group Tabs
 -----------------------------------------------------------------------------*/
/**
 * Drupal's provides heavy styling for tabs by defaut. The styles are located
 * in system.menus.css. You may choose to override that file entirely, or
 * adjust the CSS to fit your needs as shown below. There are two versions of
 * the tabs. Both share a common "tabs" class which can be styled against for
 * styles that apply to both levels.
 *
 * - Primary tabs:
 *   <ul class="tab primary">
 * - Secondary tabs:
 *   <ul class="tabs secondary">
 * - Active tabs and links:
 *   <li class="active"><a href="#" class="active">
 *
 * Both the active tab and the active link contain an "active" class which allow
 * you to style the active tab differently.
 *
 * - Use body classes to easily achieve more complicated styles.
 */
div.tabs {
  background-color: #222;
  padding: 0 2em; 
}
ul.tabs {
  display: block;
  padding: 0;
  margin: 0;
}
.tabs li {
  color: #fff;
  display: inline-block;
  margin: 0 0.2em 0 0;
  padding: 0;
}
.tabs a {
  color: #fc0;
  display: block;
}
.tabs a:focus {
  outline: 0;
}

/* Primary */
.primary {
  font-size: 1.077em;
  line-height: 4ex;
  margin-top: 1em;
  overflow-y: auto;
  height: 4ex;
}
.primary a {
  padding: 0 1em;
  -moz-transition: none;
  -webkit-transition: none;
  transition: none;
}
.primary a:hover,
.primary a:focus,
.primary a.active {
  background-color: #fff;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  /* top right */
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  /* top right */
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}

/* Secondary */
ul.secondary {
  background-color: #fff;
  line-height: 3ex;
  margin: 0 -2em;
  padding: 1em 1em 0 1em;
  position: relative;
}
.secondary a {
  background-color: #f8f8f8;
  border: solid 1px #eee;
  color: #000;
  font-size: 0.846em;
  font-weight: bold;
  padding: 0.2em 1em;
  text-transform: uppercase;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.secondary a:hover,
.secondary a:focus,
.secondary a:active,
.secondary a.active {
  background-color: #eee;
  border-color: #ddd;
  text-decoration: none;
}
/* @end */

@media screen and (min-width: 320px) and (max-width: 480px) {
  div.tabs {
    padding: 0 1em;
  }
  ul.primary {
    font-size: 0.846em;
  }
  .primary a {
    padding: 0 0.5em;
  }
}