
a.follow-link {
	height: 42px;
	display: block;
	line-height: 38px;
	padding-left: 39px;
	background-position: 0 0;
	background-repeat: no-repeat;
	padding-right: 5px;
}

span.follow-link-wrapper a {
	float: left;
}

a.follow-link-facebook {
	background-image: url(large/icon-facebook.png);
}

a.follow-link-googleplus {
  background-image: url(large/icon-googleplus.png);
}

a.follow-link-myspace {
	background-image: url(large/icon-myspace.png);
}

a.follow-link-virb {
	background-image: url(large/icon-virb.png);
}

a.follow-link-bliptv {
	background-image: url(large/icon-bliptv.png);
}

a.follow-link-lastfm {
	background-image: url(large/icon-lastfm.png);
}

a.follow-link-youtube {
	background-image: url(large/icon-youtube.png);
}

a.follow-link-twitter {
	background-image: url(large/icon-twitter.png);
}

a.follow-link-picasa {
	background-image: url(large/icon-picasa.png);
}

a.follow-link-flickr {
	background-image: url(large/icon-flickr.png);
}

a.follow-link-vimeo {
	background-image: url(large/icon-vimeo.png);
}

a.follow-link-linkedin {
	background-image: url(large/icon-linkedin.png);
}

a.follow-link-delicious {
	background-image: url(large/icon-delicious.png);
}

a.follow-link-tumblr {
	background-image: url(large/icon-tumblr.png);
}

a.follow-link-this-site {
	background-image: url(large/icon-feed.png);
}

a.follow-link-viadeo {
  background-image: url(large/icon-viadeo.png);
}

a.follow-link-xing {
	background-image: url(large/icon-xing.png);
}

a.follow-link-spiceworks {
	background-image: url(large/icon-spiceworks.png);
}

a.follow-link-newsletter {
	background-image: url(large/icon-newsletter.png);
}
