/* $Id: colors.css,v 1.1 2010/07/06 05:25:51 webchick Exp $ */

/* ---------- Color Module Styles ----------- */

body {
  background-color: #000000;
  color: #ffffff;
}
html,
#page-wrapper,
body.overlay {
  background-color: #000000;
  color: #dedede;
}
#navigation ul.links li.active-trail a {
  background: #ffCD00;
}
.tabs ul.primary li a.active {
  background-color: #FFF;
}
#header {
  background-color: #000000;
  border-bottom:2px solid #FFCC00;
}
a {
  color: #104BA9;
}
a:hover,
a:focus {
  color: #447BD4;
}
a:active {
  color: #6A93D4;
}
.breadcrumb a {
  color: #FFCD00;
}
.sidebar .block {
  /*background-color: #f6f6f2;
  border-color: #f9f9f9;*/
}
#footer-wrapper {
  background: #000000;
}
#header #name-and-slogan,
#header #name-and-slogan a {
  color: #fffeff;
}
