/* $Id$ */


/* The Basic Theme Colors */

html {
background: url('../images/yellowfiller.png') repeat-x bottom;
background-color: #FFCC00;
}

body {
background-color:#000000;
color:#FFFFFF;
}

h1,
#preview h1 {
  color: inherit;
}

#header #name-and-slogan,
#preview #preview-header #preview-name-and-slogan {
  margin-left: 15px;
}

#navigation ul.links {
  float: right;
}

#navigation ul.links li a {
  background: #ffe373;
}

#navigation ul.links li a:active {
  background: #ffcd00;
}

.content {
  margin-top: 0;
}

#block-system-main .link-wrapper {
  text-align: right;
}

/* ------------------ Sidebar ----------------- */
 
.sidebar .content {
  padding: 5px;
}

.sidebar .block {
  border: inherit;
}

/* ----------------- Triptych ----------------- */
 
#triptych-wrapper {
  background-color: #000000;
  border-top: 4px solid #FFCC00;
}

#triptych h2 {
  color: #dedede;
}

/* ------------------ Footer ------------------ */
 
#footer-wrapper {
  color: #c0c0c0; 
}

#footer-wrapper a {
  color: inherit;
}

#footer-wrapper a:hover,
#footer-wrapper a:focus {
  color: #fefefe; 
}

#footer-wrapper div.block {
  border: none;  
}

/* --------------- System Tabs  --------------- */

.tabs {
  margin-bottom: inherit;
  padding-left: 20px;
}



#comment-form fieldset.filter-wrapper {
  top: 0;
}


/* Make the highlight region text a bit larger than body default. */
#highlight {
  font-size: 26px;
  line-height: 32px;
  letter-spacing: .01em;
  margin: 25px 0px;
  background: url('../images/sm-bookcover-logo.png') no-repeat left;
  padding-left: 260px;
  height: 270px;
}

/* Suggestion node add form styling: condense type radio buttons. */
#suggestion-node-form .form-type-radio {
  display: inline;
  margin-right: 10px;
}

#suggestion-node-form .form-radio {
  margin-right: 2px;
}


/* ---------- Basic Layout Styles ----------- */
 
.front.one-sidebar #content {
  width: 960px;
  float: none;
}

#main, #preview #preview-main {
margin-bottom:40px;
margin-top:10px;
}

#main-wrapper {
  min-height: 300px;
}

.book-navigation,
body.not-front #main #content .region {
  background: #fffee4;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  color: #000000;
  padding: 10px 15px;
}

.sidebar .block {
background-color:#000000;
color:#FFFFFF;
}
.sidebar a {
  color: #FFCC00;
}
.sidebar a:hover {
  color: #CCCCCC;
}

#page-wrapper,
body.overlay {
  background-color: inherit;
  color: inherit;
}
.tabs ul.primary {
  border:none;
}

#navigation ul.links li.active-trail a {
  background: #ffcd00;
}

#header {
  background-image: none;
  background-color: #000000;
  border-bottom:4px solid #FFCC00;
}
#header #logo, #preview #preview-header #preview-logo {
float:left;
padding:15px 30px 0 0;
}

a {
  color: #104BA9;
}

a:hover,
a:focus {
  color: #447BD4;
}

a:active {
  color: #23aeff;
  color: #6A93D4;
}

#footer-wrapper {
  background: #FFCC00 url('../images/cornercurve.png') no-repeat top right;
  color:#000000;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#footer-wrapper .section
{
}
#footer-columns .section
{
  background: none;
}

/* ---------- Typography ---------- */

code, pre {
  font-family: "TheSansMonoConNormalNormal","Monaco","Bistream Vera Mono","Courier New",monospace;
  font-style: normal;
}

.sidebar h2, #preview .sidebar h2 {
text-shadow:none;
}

/* -------- Hints and Tips and Stuff --------- */

.dgd7-hint,
.dgd7-tip,
.dgd7-note,
.dgd7-reality,
.dgd7-caution,
.dgd7-gotcha,
.dgd7-new {
  margin: 10px 0px 10px 0px;
  padding: 15px 0px 15px 0px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  }

.dgd7-hint strong,
.dgd7-tip strong,
.dgd7-note strong,
.dgd7-reality strong,
.dgd7-caution strong,
.dgd7-gotcha strong,
.dgd7-new strong {
  margin: 0px 5px;
}

blockquote {
  background: none;
  border: none;
}

/* Suggestions Page */
.view-suggestions .view-content .views-row {
  background: #fffee4;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  color: #000000;
  padding: 5px 15px 0px;
  margin: 10px 0px;
}
body.page-suggestions #main #content .region {
  background: #000000;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  color: #FFCC00;
}
.view-suggestions .view-content .views-row .node-teaser h2 a {
  color: #000000;
}
